<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>
<div style="margin: 10px">
    <h4>
        DETAILS OF PROJECT
    </h4>
    <p>ID:
        <span th:text="${project.id}"></span>
    </p>
    <p>NAME:
        <span th:text="${project.name}"></span>
    </p>
    <p>START DATE:
        <span th:text="${project.startDate}"></span>
    </p>
    <p>END DATE:
        <span th:text="${project.endDate}"></span>
    </p>
    <p>
    <table style="text-align: center" border="2" width="100%">
        <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>Email</td>
            <td>Position</td>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.positionDetails}"></td>
        </tr>
    </table>
    </p>
    <p>
        <a class="btn btn-primary" title="Edit"
           th:href="@{/projects/update/{id}(id=${project.id})}">Edit
        </a>
        <a class="btn btn-info" title="Back to list"
           th:href="@{/projects}">Back to projects list</a>
    </p>
</div>
</body>
</html>