<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show all</title>
  <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body>
    <div th:replace="~{navbar :: navbar}"></div>
    <div style="text-align: center">
      <table style="text-align: center" border="2" width="70%">
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>Start date</td>
          <td>End date</td>
          <td>Project managing</td>
        </tr>
        <tr th:each="project : ${projects}">
          <td th:text="${project.id}"></td>
          <td th:text="${project.name}"></td>
          <td th:text="${project.startDate}"></td>
          <td th:text="${project.endDate}"></td>
          <td>
            <a class="btn btn-success btn-sm" title="Details"
               th:href="@{/projects/details/{id}(id=${project.id})}">Details
            </a>
            <a class="btn btn-primary btn-sm" title="Edit"
                 th:href="@{/projects/update/{id}(id=${project.id})}">Edit
            </a>
            <a class="btn btn-danger btn-sm" title="Delete"
               th:href="@{/projects/delete/{id}(id=${project.id})}">Delete
            </a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>